/*------------------------------------------------------------------------------
 * 演習番号    ：[総合演習]
 * プログラム名：[Layout]
 * 作成日      ：[2022/09/07]
 * 作成者      ：[NarimichiHenmi/SYS]
 *------------------------------------------------------------------------------
 * 修正履歴 (発注No. ： 修正日 ： 担当者 ： 修正内容)
 * (2022/09/20 ： NarimichiHenmi/SYS ：Login.cssを削除し、内容をこちらに移動。footer_title_buttonを追加。)
 *------------------------------------------------------------------------------
 */


/*
背景の共通部分のCSS
*/


/* headerタグ（契約管理・事故受付システム　ハンディー） */
.header_title {
	font-size: 30px;						/* 文字の大きさ */
	color: #000000;						/* 文字の色 */
	border-bottom: solid 2px #a9d18e;		/* 文字の下にボーダーライン（緑） */
	width: 95%;								/* 文字とボーダーの横の長さ */
	margin-left: auto;						/* 文字とボーダーを中央に配置（外側の空白範囲（左右）） */
	margin-right: auto;						/* 文字とボーダーを中央に配置（外側の空白範囲（左右）） */
	padding: 10px;							/* 内側の空白範囲 */
}

/* mainタグ */
/* 角が丸い緑の背景部分 */
.main_roundedConer {
	background: #a9d18e;					/* 背景の色 */
	border: 1px solid #FFFFFF;			/* 白ボーダー */
	margin: 0px 35px;						/* 外側の空白範囲（上下・左右） */
	border-radius: 30px;					/* （背景の）角の丸め具合 */
}

/* 角が丸い緑の背景内の一番上の文字 */
.main_subTitle {
	font-size: 30px;						/* 文字の大きさ */
	color: #000000;						/* 文字の色 */
	border-bottom: solid 2px #000000;		/* 文字の下にボーダーライン（黒） */
	width: 90%;								/* 文字とボーダーの横の長さ */
	margin-top: 15px;						/* 外側の空白範囲（上） */
	margin-bottom: 30px;					/* 外側の空白範囲（下） */
	margin-left: auto;						/* 文字とボーダーを中央に配置（外側の空白範囲（左）） */
	margin-right: auto;						/* 文字とボーダーを中央に配置（外側の空白範囲（右）） */
	padding: 10px;							/* 内側の空白範囲 */
}

/* footerタグ（英字右寄せHandy） */
.footer_title {
	border-top: solid 2px #a9d18e;			/* 文字の上にボーダーライン */
	text-align: right;						/* 文字が右寄り */
	color: #a9d18e;							/* 文字の色 */
	width: 95%;								/* 文字とボーダーの横の長さ */
	margin-top:86px;						/* 外側の空白範囲（上） */
	margin-left: auto;						/* 文字とボーダーを中央に配置（外側の空白範囲（左）） */
	margin-right: auto;						/* 文字とボーダーを中央に配置（外側の空白範囲（右）） */
	padding: 10px;							/* 内側の空白範囲 */
}

/* footerタグ（下にボタンがある場合） */
.footer_title_button {
	border-top: solid 2px #a9d18e;			/* 文字の上にボーダーライン */
	text-align: right;						/* 文字が右寄り */
	color: #a9d18e;							/* 文字の色 */
	width: 95%;								/* 文字とボーダーの横の長さ */
	margin-left: auto;						/* 文字とボーダーを中央に配置（外側の空白範囲（左）） */
	margin-right: auto;						/* 文字とボーダーを中央に配置（外側の空白範囲（右）） */
	padding: 10px;							/* 内側の空白範囲 */
}


/*
以下、専用背景
*/

/* 角が丸い緑の背景部分（ログイン・TOP用） */
.main_roundedConer_loginTop {
	background: #a9d18e;					/* 背景の色 */
	border: 1px solid #FFFFFF;				/* 白ボーダー */
	margin: 86px 35px 0px;					/* 外側の空白範囲（上・左右・下） */
	border-radius: 30px;					/* （背景の）角の丸め具合 */
}


/*
ログイン専用のCSS
*/

/* デフォルトのIDのフォーム（パスワードフォームと大きさを統一するためIDもパスワードフォームに合わせる） */
.ID_form_default {
	border: none;						/* デフォルトの枠線を消す */
	width: 290px;						/* 目玉の位置調整のためにデフォルトフォームの横を設定 */
	height: 28px;						/* Google Chromeのためにデフォルトフォームの縦を設定 */
}

/* 見かけ上のフォーム（実際にそう見えるように作ってるだけで実際のフォームはデフォルトの方） */
.ID_form {
	background-color: #FFFFFF;		/* 背景の色（フォームもどきには色がないため、設定しないと一部が背景の緑になる） */
	border-width: thin;					/* フォームの枠 */
	border-style: solid;				/* フォームの枠 */
	width: 290px;						/* フォームの縦横 */
	height: 24px;						/* フォームの縦横 */
}


/* デフォルトのパスワードのフォーム */
.password_form_default {
	border: none;						/* デフォルトの枠線を消す */
	width: 250px;						/* 目玉の位置調整のためにデフォルトフォームの横を設定 */
	height: 28px;						/* Google Chromeのためにデフォルトフォームの縦を設定 */
}

/* 見かけ上のフォーム（実際にそう見えるように作ってるだけで実際のフォームはデフォルトの方） */
.password_form {
	background-color: #FFFFFF;		/* 背景の色（フォームもどきには色がないため、設定しないと一部が背景の緑になる） */
	border-width: thin;					/* フォームの枠 */
	border-style: solid;				/* フォームの枠 */
	width: 290px;						/* フォームの縦横 */
	height: 24px;						/* フォームの縦横 */
}
