/*------------------------------------------------------------------------------
 * 演習番号    ：[総合演習]
 * プログラム名：[Login]
 * 作成日      ：[2022/09/07]
 * 作成者      ：[NarimichiHenmi/SYS]
 *------------------------------------------------------------------------------
 * 修正履歴 (発注No. ： 修正日 ： 担当者 ： 修正内容)
 * (2022/09/08 ： NarimichiHenmi/SYS ：パスワードフォームに目玉を追加)
 *------------------------------------------------------------------------------
 */

 /* 入力フォームのテーブル */
.IDpass_table {
	/* 文字の大きさ */
	font-size: 20px;
	/* テーブルを中央に配置 */
	margin-left: auto;
	margin-right: auto;
	/* 内側の空白範囲 */
	padding: 20px;
}

/* IDの文字 */
.ID_string {
	/* （今回はテーブル内で）文字を左に寄せる */
	text-align: left;
}

/* IDのフォーム */
.ID_form {
	/* フォームの長さ */
	width: 300px
}

/* パスワードの文字 */
.password_string {
	/* （今回はテーブル内で）文字を左に寄せる */
	text-align: left;
}

/* パスワードのフォームは一番下にまとめてある */

/* 未入力とアカウントチェックのエラーメッセージ */
.error {
	color:red;
	text-align: center;
}

/* ログイン・リセットボタンのテーブル */
.button_table {
	/* 文字の大きさ */
	font-size: 20px;
	/* テーブルを中央に配置 */
	margin-left: auto;
	margin-right: auto;
	/* 内側の空白範囲 */
	padding: 20px;
}

/* ボタンのデザイン */
.button_design {
	/* 文字の大きさ */
	font-size: 20px;
	/* 文字の色 */
	color: #FFFFFF;
	/* ボタンの枠線 */
	border: 1px solid #FFFFFF;
	/* ボタンの背景の色 */
	background: #1f4e79;
	/* 縦・横の長さ（固定） */
	height: 50px;
	width: 200px;
	/* 外側の空白範囲 */
	margin: 30px;
}



/* 以下、パスワードのフォーム */

#checkPassword {
	display: none;
}

/*入力欄のデフォルト枠は隠す*/
.hideText, .showText {
	border: none;
	outline: none;
}
/*新しく入力欄の枠を表示*/
.togglePassword {
	border: 1px solid;
	border-radius: 2px;
	width: 300px;
	background-color:#FFFFFF;
}

/*黒丸表示*/
.hideText {
	display: inline;
}
/*テキストは非表示*/
.showText {
	display: none;
}
/* "目のマーク" を表示*/
.fa-eye:before {
	display: inline;
	margin-left: 116.5px;
}
/* "目のマーク(スラッシュ)" は非表示*/
.fa-eye-slash:before {
	display: none;
	margin-left: 105px;
}

/*ボタンが押されたとき(チェックボックスにチェックしたとき) "目のマーク" は非表示*/
#checkPassword:checked+.togglePassword>.fa-eye:before {
	display: none;
}
/*ボタンが押されたとき(チェックボックスにチェックしたとき) "目のマーク(スラッシュ)" を表示*/
#checkPassword:checked+.togglePassword>.fa-eye-slash:before {
	display: inline-block;
}
/*ボタンが押されたとき(チェックボックスにチェックしたとき)黒丸を非表示*/
#checkPassword:checked+.togglePassword>.hideText {
	display: none;
}
/*ボタンが押されたとき(チェックボックスにチェックしたとき)テキストを表示*/
#checkPassword:checked+.togglePassword>.showText {
	display: inline-block;
}