/*------------------------------------------------------------------------------
 * 演習番号    ：[総合演習]
 * プログラム名：[Login]
 * 作成日      ：[2022/09/07]
 * 作成者      ：[NarimichiHenmi/SYS]
 *------------------------------------------------------------------------------
 * 修正履歴 (発注No. ： 修正日 ： 担当者 ： 修正内容)
 *------------------------------------------------------------------------------
 */

 /* 入力フォームのテーブル */
.IDpass_table {
	/* 文字の大きさ */
	font-size: 20px;
	/* テーブルを中央に配置 */
	margin-left: auto;
	margin-right: auto;
	/* 内側の空白範囲 */
	padding: 20px;
}

/* IDの文字 */
.ID_string {
	/* （今回はテーブル内で）文字を左に寄せる */
	text-align: left;
}

/* IDのフォーム */
.ID_form {
	/* フォームの長さ */
	width: 300px
}

/* パスワードの文字 */
.password_string {
	/* （今回はテーブル内で）文字を左に寄せる */
	text-align: left;
}

/* パスワードのフォーム */
.password_form {
	/* フォームの長さ */
	width: 300px
}

/* 未入力とアカウントチェックのエラーメッセージ */
.error {
	color:red;
	text-align: center;
}

/* ログイン・リセットボタンのテーブル */
.button_table {
	/* 文字の大きさ */
	font-size: 20px;
	/* テーブルを中央に配置 */
	margin-left: auto;
	margin-right: auto;
	/* 内側の空白範囲 */
	padding: 20px;
}

/* ボタンのデザイン */
.button_design {
	/* 文字の大きさ */
	font-size: 20px;
	/* 文字の色 */
	color: #FFFFFF;
	/* ボタンの枠線 */
	border: 1px solid #FFFFFF;
	/* ボタンの背景の色 */
	background: #1f4e79;
	/* 縦・横の長さ（固定） */
	height: 50px;
	width: 200px;
	/* 外側の空白範囲 */
	margin: 30px;
}