/*------------------------------------------------------------------------------
 * 演習番号    ：[総合演習]
 * プログラム名：[Login]
 * 作成日      ：[2022/09/07]
 * 作成者      ：[NarimichiHenmi/SYS]
 *------------------------------------------------------------------------------
 * 修正履歴 (発注No. ： 修正日 ： 担当者 ： 修正内容)
 * (2022/09/09 ： NarimichiHenmi/SYS ：IDとパスワードのフォームを変更)
 *------------------------------------------------------------------------------
 */

/* 入力フォームのテーブル */
.IDpass_table {
	/* 文字の大きさ */
	font-size: 20px;
	/* テーブルを中央に配置 */
	margin-left: auto;
	margin-right: auto;
	/* 内側の空白範囲 */
	padding: 20px;
}

/* IDの文字 */
.ID_string {
	/* （今回はテーブル内で）文字を左に寄せる */
	text-align: left;
}

/* デフォルトのIDのフォーム（パスワードフォームと大きさを統一するためIDもパスワードフォームに合わせる） */
.ID_form_default {
	/* デフォルトの枠線を消す */
	border: none;
	/* 目玉の位置調整のためにデフォルトフォームの横を設定 */
	width: 290px;
	/* Google Chromeのためにデフォルトフォームの縦を設定 */
	height: 30px;
}

/* 見かけ上のフォーム（実際にそう見えるように作ってるだけで実際のフォームはデフォルトの方） */
.ID_form {
	/* 背景の色（フォームもどきには色がないため、設定しないと一部が背景の緑になる） */
	background-color: #FFFFFF;
	/* フォームの枠 */
	border-width: thin;
	border-style: solid;
	/* フォームの縦横 */
	width: 290px;
	height: 24px;
}

/* パスワードの文字 */
.password_string {
	/* （今回はテーブル内で）文字を左に寄せる */
	text-align: left;
}

/* デフォルトのパスワードのフォーム */
.password_form_default {
	/* デフォルトの枠線を消す */
	border: none;
	/* 目玉の位置調整のためにデフォルトフォームの横を設定 */
	width: 250px;
	/* Google Chromeのためにデフォルトフォームの縦を設定 */
	height: 28px;
}

/* 見かけ上のフォーム（実際にそう見えるように作ってるだけで実際のフォームはデフォルトの方） */
.password_form {
	/* 背景の色（フォームもどきには色がないため、設定しないと一部が背景の緑になる） */
	background-color: #FFFFFF;
	/* フォームの枠 */
	border-width: thin;
	border-style: solid;
	/* フォームの縦横 */
	width: 290px;
	height: 24px;
}

/* 未入力とアカウントチェックのエラーメッセージ */
.error {
	color: red;
	text-align: center;
}

/* ログイン・リセットボタンのテーブル */
.button_table {
	/* 文字の大きさ */
	font-size: 20px;
	/* テーブルを中央に配置 */
	margin-left: auto;
	margin-right: auto;
	/* 内側の空白範囲 */
	padding: 20px;
}

/* ボタンのデザイン */
.button_design {
	/* 文字の大きさ */
	font-size: 20px;
	/* 文字の色 */
	color: #FFFFFF;
	/* ボタンの枠線 */
	border: 1px solid #FFFFFF;
	/* ボタンの背景の色 */
	background: #1f4e79;
	/* 縦・横の長さ（固定） */
	height: 50px;
	width: 200px;
	/* 外側の空白範囲 */
	margin: 30px;
}

