/*------------------------------------------------------------------------------
 * 演習番号    ：[総合演習]
 * プログラム名：[Login]
 * 作成日      ：[2022/09/12]
 * 作成者      ：[NarimichiHenmi/SYS]
 *------------------------------------------------------------------------------
 * 修正履歴 (発注No. ： 修正日 ： 担当者 ： 修正内容)
 * (2022/09/20 ： NarimichiHenmi/SYS ：form_table_newEstimateを追加)
 * (2022/09/20 ： NarimichiHenmi/SYS ：error_sideを追加)
 *------------------------------------------------------------------------------
 */

/*
共通で用いられる部品（etc 表、エラーメッセージ）
*/
@charset "UTF-8";
/*
エラーメッセージ
*/

/* 未入力とアカウントチェックのエラーメッセージ */
.error {
	color: red; /* 文字の色 */
	text-align: center; 				/* 文字を中央に配置 */
}

/* 未入力とアカウントチェックのエラーメッセージ */
.error_side{
	color: red; /* 文字の色 */
	text-align: left; 				/* 文字を中央に配置 */
	display:inline;
}


/*
表のCSS
*/

/*
表の案
1.表の左側をth、右側をtdにする。
2.両方をtdにして、片方もしくは両方にclassまたはidを付ける。
*/

/* 入力フォームのテーブル */
.form_table {
	font-size: 20px;					/* 文字の大きさ */
	margin-left: auto;					/* テーブルを中央に配置 */
	margin-right: auto;					/* テーブルを中央に配置 */
	padding: 20px;						/* 内側の空白範囲 */
}

/* 結果表示の表の左側 */
.form_table_left {
	text-align:left;
	padding:0px 30px;					/* 表の中身同士の間隔（上下・左右） */
}

/* 結果表示の表の右側 */
.form_table_right {
	width: 290px;						/* フォームの縦横 */
	height: 24px;						/* フォームの縦横 */
}

/* 結果表示の表 */
.confirm_table {
	background-color: #FFFFFF;		/* 表全体の背景の色 */
	margin-top:30px;					/* 外側の空白範囲（上） */
	margin-bottom:30px;					/* 外側の空白範囲（下） */
	margin-left: auto; 					/* テーブルを中央に配置 */
	margin-right: auto; 				/* テーブルを中央に配置 */
}

/* 結果表示の表の見出し */
.confirm_table_headline {
	background-color: #ffe699;		/* 表の見出しの背景の色 */
}

/* 結果表示の表の左側 */
.confirm_table_left {
	background-color: #fff2cc; 		/* 表左側の背景の色 */
}


/* 以下、専用CSS */
/* 入力フォームのテーブル（新規試算のラジオボタン用） */
.form_table_newEstimate {
	font-size: 20px;					/* 文字の大きさ */
	margin-left: auto;					/* テーブルを中央に配置 */
	margin-right: auto;					/* テーブルを中央に配置 */
}

