@media screen and (max-width: 375px) {
.button_design_topMenu {
		width: 230px;
		text-align: center;
	}
.button_design_topMenu_last {
		width: 230px;
		text-align: center;
	}
.aa{
	width:100％;
}
.form_table th,
.form_table td {
	display: block;
	border-bottom: none;
	text-align: center;
}
input.new_right{
	width: 230px;
}
.button_center_parallel th,
.button_center_parallel td {
	display: block;
	width: 100%;
	border-bottom: none;
	text-align: center;
 }
.main_roundedConer{
	width: 80%;
}
.main_table_newEstimate td{
width: 120px;
}
}
